@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-primary: #3251D0;
  --color-primary-dark: #263D9C;

  --color-pagebg: #f3f4f6;
  --color-pagebg-dark: #131e53;

  --color-cardbg: #ffffff;
  --color-cardbg-dark: #263D9C;

  --color-info: #4a5565;
  --color-info-dark: #e4e4e4;
  
  --color-btn: #3251D0;
  --color-btn-dark: #263D9C;

  --color-insidetxt: #ffffff;
  --color-insidetxt-dark: #263D9C;

  --color-pagebg: #f3f4f6;
  --color-pagebg-dark: #131e53;
  --color-pagebg-dark66: #131e5366;

  --color-txt: #000000;
  --color-txt-dark: #ffffff;

  --text-color: #000000;
  --text-color-dark: #ffffff;

}

/* .dark-theme {
  --color-primary-dark: #263D9C;
  --color-secondary: #3251D0;
  --color-pagebg: #131e53;
  --color-bg: #263D9C;
  --color-cardbg: #3251D0;
  --color-btn: #ffffff;
  --color-insidetxt: #263D9C;
  --color-txt: #ffffff;
  --text-color: #ffffff;
} */


.info {
  @apply text-info dark:text-info-dark text-sm;
}

.hover-shadow-glow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-shadow-glow:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(50, 81, 208, 0.6);
}